<footer id="footer">
    <section id="testimonial" class="jarallax"
    style="background-image: url('{{ '/assets/images/quote-bg02.png' | relative_url }}'); background-repeat: no-repeat; background-position: center;">
        <div class="container-lg padding-medium">
        <div class="row g-lg-5 my-0 px-4">
            <div class="col-lg-3 my-4">
            <div class="footer-menu">
                <h3 class="text-uppercase fw-bold mb-4 text-white">
                <a class="navbar-brand" href="{{'index.html' | relative_url}}">
                    <!-- <img src="images/main-logo.png" class="logo img-fluid"> -->
                    北京大学软式曲棍球协会
                </a>
                </h3>
                <p class="mt-4">
                一群热爱软式曲棍球的读书人<br>
                永远在整活和抽象的路上~
                </p>
                <ul class="info list-unstyled mt-4">

                </ul>
                <div class="social-links mt-4">
                <ul class="d-flex  list-unstyled gap-2 m-0">
                    <!-- <li class="social">
                    <a href="#">
                        <iconify-icon class="social-icon" icon="ri:bilibili-fill"></iconify-icon>
                    </a>
                    </li> -->
                    <li class="social">
                    <a href="{{'images/QRcode.jpg' | relative_url}}" title="QR code" class="image-link">
                        <iconify-icon class="social-icon" icon="ri:wechat-fill"></iconify-icon>
                    </a>
                    </li>
                    <li class="social">
                    <a href="mailto:pkufloorball@163.com">
                        <iconify-icon class="social-icon" icon="ri:mail-fill"></iconify-icon>
                    </a>
                    </li>

                </ul>
                </div>
            </div>
            </div>

            <div class="col-lg-9 my-4 d-flex justify-content-center">
            <div class="col-lg-2 mx-4">
                <div class="footer-menu">
                <h5 class="text-uppercase fw-bold mb-4 text-white">快速访问</h5>
                <ul class="menu-list list-unstyled">
                    <li class="menu-item">
                    <a href="{{'index.html' | relative_url}}" class="footer-link">主页</a>
                    </li>
                    <li class="menu-item">
                    <a href="{{'htmls/1-about/2-intro.html' | relative_url}}" class="footer-link">关于我们</a>
                    </li>
                    <li class="menu-item">
                    <a href="{{'htmls/4-gallery/0-main.html' | relative_url}}" class="footer-link">精彩瞬间</a>
                    </li>
                </ul>
                </div>
            </div>

            <div class="col-lg-2 mx-4">
                <div class="footer-menu">
                <h5 class="text-uppercase fw-bold mb-4 text-white">
                    <a href="{{'htmls/2-team/0-main.html' | relative_url}}" class="footer-link">校队</a>
                </h5>
                <ul class="menu-list list-unstyled">
                    <li class="menu-item">
                    <a href="{{'htmls/2-team/1-intro.html' | relative_url}}" class="footer-link">简介</a>
                    </li>
                    <li class="menu-item">
                    <a href="{{'htmls/2-team/2-reward.html' | relative_url}}" class="footer-link">主要荣誉</a>
                    </li>
                </ul>
                </div>
            </div>

            <div class="col-lg-2 mx-4">
                <div class="footer-menu">
                <h5 class="text-uppercase fw-bold mb-4 text-white">
                    <a href="{{'htmls/3-association/0-main.html' | relative_url}}" class="footer-link">社团</a>
                </h5>
                <ul class="menu-list list-unstyled">
                    <li class="menu-item">
                    <a href="{{'htmls/3-association/1-recruit.html' | relative_url}}" class="footer-link">招新</a>
                    </li>
                    <li class="menu-item">
                    <a href="{{'htmls/3-association/2-rk-cup.html' | relative_url}}" class="footer-link">新生杯</a>
                    </li>
                    <li class="menu-item">
                    <a href="{{'htmls/3-association/3-pku-cup.html' | relative_url}}" class="footer-link">北大杯</a>
                    </li>
                </ul>
                </div>
            </div>

            <div class="col-lg-3 mx-4 ">
                <div class="footer-menu">
                <h5 class="text-uppercase fw-bold  mb-4 text-white">
                    <a href="{{'htmls/6-contact.html' | relative_url}}" class="footer-link">联系我们</a>
                </h5>
                <ul class="info list-unstyled mt-4">
                    <li class="clock text-capitalize mb-2 align-items-center">
                    <svg class="text-primary me-1" width="18" height="18" stroke="white">
                        <use xlink:href="#clock"></use>
                    </svg>Fri, Sat, Sun: 18:00-20:00
                    </li>
                    <li class="location text-capitalize mb-2 align-items-center">
                    <svg class="text-primary me-1" width="18" height="18" stroke="white">
                        <use xlink:href="#location"></use>
                    </svg>邱德拔体育馆B2综合训练大厅
                    </li>
                    <li class="email mb-2 align-items-center">
                    <svg class="text-primary me-1" width="18" height="18" stroke="white">
                        <use xlink:href="#email"></use>
                    </svg>pkufloorball@163.com
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="bg-gray border-top">
        <div class="text-center py-4">
            <p class="mb-0">©2025 北京大学软式曲棍球协会</p>
        </div>
        </div>
    </section>
</footer>