<header id="header">
    <nav class="header-top bg-primary py-1">
        <div class="container-lg">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <ul class="info d-flex flex-wrap list-unstyled m-0">
                <li class="location text-capitalize text-white d-flex align-items-center me-4">
                    <svg class="me-2" width="16" height="16">
                    <use xlink:href="#location"></use>
                    </svg> 北京大学邱德拔体育馆B2综合训练大厅
                </li>
                <!-- <li class="phone fs-6 text-capitalize text-white d-flex align-items-center me-4">
                    <svg class="me-2" width="18" height="18">
                    <use xlink:href="#phone"></use>
                    </svg> call: 666 333 9999
                </li> -->

                </ul>
                <div class="social">
                <ul class="info d-flex flex-wrap list-unstyled m-0">

                    <li class="social-icon text-white d-flex align-items-center me-3">
                    关注我们：
                    </li>
                    <li class="social d-flex align-items-center me-3">
                        <a href="{{'assets/images/QRcode.jpg' | relative_url}}" title="QR code" class="image-link"> 
                            <svg class="text-white" width="16" height="16">
                                <use xlink:href="#wechat"></use>
                            </svg> 
                        </a>
                    </li>
                    <li class="social d-flex align-items-center me-3">
                        <a href="mailto:pkufloorball@163.com"> 
                            <svg class="text-white" width="16" height="16">
                                <use xlink:href="#email"></use>
                            </svg> 
                        </a>
                    </li>

                </ul>
                </div>
            </div>
        </div>
    </nav>
</header>