<!-- 导航栏 -->
<nav id="primary-header" class="navbar navbar-expand-lg navbar-light bg-light py-3 sticky-top">
    <div class="container-lg">
        <a class="navbar-brand ms-3 fs-3" href="{{'index.html' | relative_url}}">北京大学软式曲棍球协会</a>
        <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false">
        <svg class="navbar-icon" width="60" height="60">
            <use xlink:href="#navbar-icon"></use>
        </svg>
        </button>
        <div class="header-bottom offcanvas offcanvas-end" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
        <div class="offcanvas-header px-4 mt-3 ">
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
            data-bs-target="#bdNavbar"></button>
        </div>
        <div class="offcanvas-body align-items-center justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item px-3 py-2 py-lg-0">
                <a class="nav-link fw-normal active p-0" aria-current="page" href="{{'index.html' | relative_url}}">主页</a>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0 dropdown">
                <a class="nav-link fw-normal p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">关于</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                <li><a href="{{'htmls/1-about/1-floorball.html' | relative_url}}" class="dropdown-item">项目简介 <span
                    class="badge bg-secondary fw-normal"></span></a></li>
                <li><a href="{{'htmls/1-about/2-intro.html' | relative_url}}" class="dropdown-item">关于我们 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                </ul>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0 dropdown">
                <a class="nav-link fw-normal p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">校队</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                <li><a href="{{'htmls/2-team/1-intro.html' | relative_url}}" class="dropdown-item">简介 <span
                    class="badge bg-secondary fw-normal"></span></a></li>
                <li><a href="{{'htmls/2-team/2-reward.html' | relative_url}}" class="dropdown-item">球队荣誉 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                </ul>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0 dropdown">
                <a class="nav-link fw-normal p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">社团</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                <li><a href="{{'htmls/3-association/1-recruit.html' | relative_url}}" class="dropdown-item">招新 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                <li><a href="{{'htmls/3-association/2-rk-cup.html' | relative_url}}" class="dropdown-item">新生杯 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                <li><a href="{{'htmls/3-association/3-pku-cup.html' | relative_url}}" class="dropdown-item">北大杯 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                </ul>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0 dropdown">
                <a class="nav-link fw-normal p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">照片</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                <li><a href="{{'htmls/4-gallery/1-team.html' | relative_url}}" class="dropdown-item">校队 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                <li><a href="{{'htmls/4-gallery/2-association.html' | relative_url}}" class="dropdown-item">社团 <span
                        class="badge bg-secondary fw-normal"></span></a></li>
                </ul>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0">
                <a class="nav-link fw-normal p-0" href="{{'htmls/5-news/0-main.html' | relative_url}}">新闻</a>
            </li>
            <li class="nav-item px-3 py-2 py-lg-0">
                <a class="nav-link fw-normal p-0" href="{{'htmls/6-contact.html' | relative_url}}">联系</a>
            </li>
            <li class="nav-item search-dropdown py-2 py-lg-0 ms-3 ms-lg-5 dropdown">
                <a class="nav-link p-0 search dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                <svg class="search text-primary " width="24" height="24">
                    <use xlink:href="#search"></use>
                </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 p-3 shadow">
                <li class="position-relative d-flex align-items-center p-0">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary position-absolute end-0" type="submit">
                    <svg class="search" width="24" height="24">
                        <use xlink:href="#search"></use>
                    </svg>
                    </button>
                </li>
                </ul>
            </li>
            </ul>
        </div>
        </div>
    </div>
</nav>